@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .max-padd-container{
        @apply mx-auto max-w-[1440px] px-6 lg:px-12 ;
    }
    .btn-dark {
        @apply px-4 py-2 text-white bg-black rounded-lg hover:bg-gray-800 transition duration-200;
    }
    .btn-white {
        @apply px-6 py-3 rounded-full border border-gray-900 text-gray-900 
               hover:bg-gray-900 hover:text-white transition duration-300;
    }
}

@layer utilities{
    .active-link{
        @apply px-3 py-2 rounded-full bg-black/80 text-white;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  